@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.page-header {
	position: relative;
	padding-bottom: 0px;

	&:first-child {
		margin-top: 20px;
	}

	h1, h2, h3 h4, h5, h6 {
		max-width: 55%;
	}
}

ul.actions {
	@extend .list-unstyled;
	@extend .list-inline;
	position: absolute;
	bottom: -2px;
	right: 2px;
	max-width: 45%;
	text-align: right;
}